---
# Ansible's windows remote access is via winrm and re-uses the ssh settings for
# it.
ansible_ssh_user: vagrant
ansible_ssh_pass: vagrant
ansible_ssh_port: 5985
ansible_connection: winrm

# Location where vagrant-cachier plugin adds its cache
cache_location: 'c:\tmp\vagrant-cache'
# Destination for downloaded files
download_location: 'c:\tmp'

# The Windows hosts file
etc_hosts_file: 'c:\windows\system32\drivers\etc\hosts'

# Git for windows
git_file: Git-64-bit.exe

# Visual Studio ISO
vs_file: vs2015.com_enu.iso
vs_version: 14.0

# 7zip for windows
zip_file: 7z-x64.msi

# Python for windows. This must be version 2 due to buildbot.
python_file: python-2.7.amd64.msi

# python win32 extensions.
pywin32_file: pywin32.win-amd64-py2.7.exe

# Windows Development Kit
wdk_file: wdksetup.exe

# cmake
cmake_file: cmake-win32-x86.msi

# visual c++ for python 2.7
vcp27_file: VCForPython27.msi

# llvm release required to buld mesa llvmpipe.
# mesa does not yet work with 3.8
llvm_version: 3.7.1

# mesa release
mesa_version: 11.2.2
