127.0.0.1 localhost
127.0.1.1 {{ ansible_hostname }}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

# unix servers
172.31.70.40 master
172.31.70.41 debian

# windows servers
172.31.70.43 windows

# gateway (host)
{{ hostvars[ansible_hostname]['ansible_default_ipv4']['gateway'] }} gateway
