#jinja2: newline_sequence:'\r\n'
127.0.0.1 localhost

# unix servers
172.31.70.40 master
172.31.70.41 debian

# windows servers
172.31.70.43 windows

# gateway (host)
{{ hostvars[ansible_hostname.lower()]['ansible_interfaces'][0]['default_gateway'] }} gateway

