---
###
### OPENGL
###
### Mesa llvmpipe OpenGL 3.3 software renderer
###
### Linux on virtualbox is limited to 2.1 at best, but debian installs the 3.0
### llvmpipe software renderer which still isn't good enough.
###
### Mesa requires llvm<=3.7, scons<=2.4
###
- name: opengl | Install build dependecies
  apt:
    pkg: "{{ item }}"
    state: present
  with_items:
    - scons
    - flex
    - bison
    - python-mako
    - pkg-config

- name: opengl | Create build area
  file:
    path: ~/llvmpipe
    state: directory
    mode: 0755

- name: opengl | Extract LLVM source
  unarchive:
    src: "http://llvm.org/releases/{{ llvm_version }}/llvm-{{ llvm_version }}.src.tar.xz"
    dest: ~/llvmpipe
    copy: no
    creates: "~/llvmpipe/llvm-{{ llvm_version }}.src"

- name: opengl | Create LLVM build area
  file:
    path: ~/llvmpipe/llvm-build
    state: directory
    mode: 0755

- name: opengl | Configure LLVM build
  shell: "../llvm-{{ llvm_version }}.src/configure --prefix=$HOME/llvm"
  args:
    chdir: ~/llvmpipe/llvm-build
    creates: ~/llvmpipe/llvm-build/Makefile

- name: opengl | Build LLVM
  shell: make -j4 && make install
  args:
    chdir: ~/llvmpipe/llvm-build
    creates: ~/llvm

- name: opengl | Install Mesa source
  unarchive:
    src: "https://mesa.freedesktop.org/archive/mesa-{{ mesa_version }}.tar.xz"
    dest: ~/llvmpipe
    copy: no
    creates: "~/llvmpipe/mesa-{{ mesa_version }}"

# scons must be at most 2.4 for mesa to build
- name: opengl | Build Mesa
  shell: LLVM=~/llvm scons build=release llvm=yes libgl-xlib
  args:
    chdir: "~/llvmpipe/mesa-{{ mesa_version }}"
    creates: "~/llvmpipe/mesa-{{ mesa_version }}/build/linux-x86_64/gallium/targets/libgl-xlib/libGL.so.1.5"

- name: opengl | Create Mesa Install Area
  file:
    path: /usr/local/lib/mesa
    state: directory
    mode: 0755

- name: opengl | Install Mesa
  shell: "cp libGL.so.1.5 /usr/local/lib/mesa/libGL.so.1.5"
  args:
    chdir: "~/llvmpipe/mesa-{{ mesa_version }}/build/linux-x86_64/gallium/targets/libgl-xlib"
    creates: "/usr/local/lib/mesa/libGL.so.1.5"

- name: opengl | Link Mesa library
  file:
    src: /usr/local/lib/mesa/libGL.so.1.5
    path: "/usr/local/lib/mesa/{{ item }}"
    state: link
  with_items:
    - libGL.so
    - libGL.so.1

