---
##
## BUILD DEPS
##
- name: Download install files
  win_get_url:
    url: "file://{{ cache_location }}\\{{ item }}"
    dest: "{{ download_location }}\\{{ item }}"
  with_items:
    - "{{ python_file }}"
    - "{{ pywin32_file }}"
    - "{{ git_file }}"
    - "{{ cmake_file }}"
    - "{{ zip_file }}"
    - "{{ vs_file }}"
    - "{{ vcp27_file }}"
    - WDK.zip

# dependency: buildbot
- include: w_python.yml
  vars:
    file: "{{ python_file }}"
  tags: [python,buildbot]

# dependency: buildbot
- include: w_pywin32.yml
  vars:
    file: "{{ pywin32_file }}"
  tags: [pywin32,buildbot]

# dependency: repository
- include: w_git.yml
  vars:
    file: "{{ git_file }}"
  tags: git

# dependency: compiler
- include: w_cmake.yml
  vars:
    file: "{{ cmake_file }}"
  tags: cmake

- include: w_7zip.yml
  vars:
    file: "{{ zip_file }}"
  tags: 7zip

# dependency: compiler
- include: w_visualstudio.yml
  vars:
    file: "{{ vs_file }}"
  tags: visualstudio

# dependency: compiling extensions on python 2.7
- include: w_vcp27.yml
  vars:
    file: "{{ vcp27_file }}"
  tags: [python]

# dependency: symstore
- include: w_wdk.yml
  vars:
    file: "{{ wdk_file }}"
  tags: wdk

- include: win_path.yml
  vars:
    path: "{{ item }}"
    level: machine
  with_items:
    - 'C:\Python27'
    - 'C:\Python27\Scripts'
    - 'C:\Program Files\Git\bin'
    - 'C:\Program Files (x86)\CMake\bin'
    - 'C:\Program Files\7-Zip'
    - 'C:\Program Files (x86)\MSBuild\{{ vs_version }}\Bin'

- name: windows | Delete install files
  win_file:
    path: "{{ download_location }}\\{{ item }}"
    state: absent
  with_items:
    - "{{ python_file }}"
    - "{{ pywin32_file }}"
    - "{{ git_file }}"
    - "{{ cmake_file }}"
    - "{{ zip_file }}"
    - "{{ vs_file }}"
    - "{{ vcp27_file }}"
    - WDK.zip
    - "wdk\\"

##
## PIP DEPENDENCIES
##
# http://trac.buildbot.net/wiki/RunningBuildbotOnWindows
- name: Install buildslave
  raw: "pip install buildbot-slave"
  tags: buildbot

##
## BUILDBOT DEPLOY
##
- name: Create buildbot user
  win_user:
    name: "{{ buildbot_username }}"
    password: "{{ buildbot_username }}"
    password_never_expires: no
    state: present
  tags: buildbot

- name: Set buildbot path
  set_fact:
    buildbot_path: "c:\\{{ buildbot_username }}"

- name: Create buildbot area
  win_file:
    path: "{{ buildbot_path }}\\"
    state: directory
  tags: buildbot

##
## SYMBOLSTORE
##
- name: Install buildbot symbol store utility
  win_copy:
    src: files/storesymbols.bat
    dest: "{{ buildbot_path }}/storesymbols.bat"
  tags: buildbot

- name: Create symbol store folders
  win_file:
    path: "{{ item }}"
    state: directory
  with_items:
    - c:/symbols/
    - c:/localsymbols/
  tags: buildbot

# https://randomascii.wordpress.com/2013/03/09/symbols-the-microsoft-way/
# https://msdn.microsoft.com/en-us/library/windows/hardware/ff537994%28v=vs.85%29.aspx
- name: Add symbol store to path
  win_environment:
    name: _NT_SYMBOL_PATH
    value: 'srv*c:\localsymbols*c:\symbols*https://msdl.microsoft.com/download/symbols'
    level: machine
  tags: buildbot

#
# BUILDBOT
#
- name: Create build slave
  raw: "buildslave create-slave {{ buildbot_path }} {{ buildmaster_host }}:{{ buildmaster_port }} {{ slave_username }} {{ slave_password }}"
  tags: buildbot

# Adding the service does not grant the logon privilege. This must be done
# explicitly.
- name: Install logon as service privilege utility
  win_copy:
    src: files/lsa_add_logon_as_svc.ps1
    dest: c:/tmp/lsa_add_logon_as_svc.ps1
  tags: buildbot

- name: Allow buildbot service logon
  raw: "powershell c:\\tmp\\lsa_add_logon_as_svc.ps1 {{ buildbot_username }}"
  tags: buildbot

- name: Create buildbot service
  raw: "c:\\python27\\python.exe c:\\python27\\scripts\\buildbot_service.py --user .\\{{ buildbot_username }} --password {{ buildbot_username }} --startup auto install"
  notify: restart windows buildbot
  tags: buildbot

- name: Set buildbot service registry
  win_regedit:
    key: HKLM:\SYSTEM\CurrentControlSet\services\Buildbot\Parameters
    data: "{{ buildbot_path }}"
    value: directories
    datatype: string
  tags: buildbot

- name: Start build slave
  win_service:
    name: BuildBot
    start_mode: auto
    state: restarted

#
# Finalisation
#
- name: Enable autologon
  win_regedit:
    key: HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
    data: 1
    value: AutoAdminLogon
    datatype: dword
  tags: autologon
