---
- name: cmake | Installed?
  win_stat:
    path: "C:\\Program Files (x86)\\CMake"
  register: app

- name: cmake | Install
  win_msi:
    path: "{{ download_location }}\\{{ file }}"
    state: present
  when: not app.stat.exists
