---
- name: pywin32 | Installed?
  win_stat:
    path: C:\python27\scripts\pywin32_postinstall.py
  register: app

- name: pywin32 | Install
  win_shell: "c:\\python27\\scripts\\easy_install {{ download_location }}\\{{ pywin32_file }}"
  when: not app.stat.exists

