---
- name: visual studio | Installed?
  win_stat:
    path: "C:\\Program Files (x86)\\msbuild\\{{ vs_version }}\\bin"
  register: app

- name: visual studio | Need to mount?
  win_stat:
    path: "d:\\vs_community.exe"
  register: mount
  when: not app.stat.exists

- name: visual studio | Mount ISO
  raw: "powershell mount-diskimage {{ download_location }}\\{{ file }}"
  when: not app.stat.exists and not mount.stat.exists

- name: visual studio | Install
  win_package:
    name: Visual Studio
    path: "d:\\vs_community.exe"
    product_id: "{5c4dd346-d2b9-3b7b-9320-a90049d5e48b}"
    arguments: "/silent /norestart /norefresh /InstallSelectableItems NativeLanguageSupport_VC /l c:\\tmp\\vs\\log.txt"
  register: vsinstall
  when: not app.stat.exists

- debug: var=vsinstall verbosity=2

- name: visual studio | Need to dismount?
  win_stat:
    path: "d:\\vs_community.exe"
  register: mount

- name: visual studio | Dismount ISO
  raw: "powershell dismount-diskimage {{ download_location }}\\{{ file }}"
  when: mount.stat.exists

- name: restart machine
  win_reboot:
  when: vsinstall.restart_required

- name: wait for vagrant mount
  win_stat:
      path: "c:\\tmp\\vagrant-cache"
  register: mount
  until: mount.stat.exists
  retries: 10
  delay: 6
